* {
    min-width: 0;
    color: #c0caf5;
    font-weight: bold;
    font-size: 9;
    font-family: JetBrainsMono Nerd Font;
    border: 0px;
    border-radius: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

tooltip {
    background-color: #24283b;
    border: 2px solid #bb9af7;
    color: #7aa2f7;
}

tooltip label {
    padding: 2px;
    color: #7aa2f7;
    font-size: 16px;
}

#waybar {
    background: linear-gradient(to top, #242830 0%, #243049 0%);
}

#custom-nixos {
    font-size: 25;
    color: #7dcfff;
    padding-top: 5px;
    padding-right: 3px;
}

#custom-weather {
    color: #b4f9f8;
    font-size: 12px;
}

#clock {
    font-size: 20;
    color: #7aa2f7;
    margin-left: 1px;
    padding: 5px;
}

#network {
    color: #cfc9c2;
    font-size: 20;
}

#workspaces {
    background: linear-gradient(180deg, #bb9af7 50%, #565f89 100%);
    transition: all 0.3s ease-in-out;
    margin: 0 10px 0 10px;
}

#workspaces button {
    color: transparent;
    background: linear-gradient(180deg, #bb9af7 50%, #565f89 100%);
    transition: all 0.3s ease-in-out;
    min-width: 0px;
    min-height: 20px;
    margin: 5px 0;
    border-radius: 5px;
}

#workspaces button.active {
    background: linear-gradient(180deg, #bb9af7 50%, #565f89 100%);
    min-height: 50px;
    transition: all 0.3s ease-in-out;
}
